{% extends "clients/_base.html" %}
{% load materializecss %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container" style="background-color: #e5ddc6; margin-top: 90px">
        <div class="row">
            <div class="col s12 m6 offset-m3">
            <div class="row card-panel">
                <div style="display: flex; justify-content: center; align-items: center">
                    <img
                            class="responsive-img"
                            style="margin-bottom: 50px"
                            src="{% static 'img/logo1.png' %}"
                            alt="Logo Lulu"
                    >
                </div>
                <div class="center-align" style="padding-bottom: 2rem">
                    <span class="card-title" style="font-size: 1.25rem">
                    Regístrate con Lulú | <span style="color: #da4f48">EYELASH STUDIO SPA</span>
                </span>
                </div>

                <form class="col s12 m12" action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="center-align" style="padding: 20px 20px">
                        <button
                                style="background-color: #4a2c2a; width: 100%"
                                class="btn btn-success"
                                type="submit"
                        >Registrarse
                        </button>
                    </div>

                </form>
                <div style="margin-top: auto; margin-bottom: auto">
                    <p>Ya te registraste?: <a style="color: #da4f48" href="{% url 'account_login' %}">Ingresar</a></p>
                </div>


            </div>
        </div>
    </div>
    </div>

{% endblock %}