body {
    background-color: #b39f66;
}


h1 {
    color: #d59f9c;
}
.container {
    background-color: #fdfbf9;
}
.local-strong-accent {
    color: #da4f48;
}
.p-bottom-padding {
    padding-bottom: 1rem;
}