{% extends "clients/_base.html" %}
{% load static %}
{% load materializecss %}
{% block title %}Sobre Lulú de la Torre{% endblock %}

{% block content %}
    <div class="container about-section">
        <h2 class="center-align">Quién es Lulú de la Torre</h2>

        <!-- Card for "Quién es Lulú de la Torre" -->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/russian_lips2.jpeg' %}" style="width: 100%" alt="Lulú de la Torre">
                    </div>
                    <div class="card-content" style="display: flex; flex-wrap: wrap; align-items: center;">
                        <p style="font-size: 1.25rem; text-align: justify">
                            <span style="color: deeppink">Lulú de la Torre</span> es una visionaria en el ámbito de la
                            belleza y el bienestar, reconocida por su pasión y dedicación en ayudar a las personas a
                            sentirse mejor consigo mismas. Con años de experiencia en estética y cuidados de la piel,
                            <span style="color: deeppink">Lulú</span> ha creado un enfoque único que combina
                            conocimientos tradicionales con las últimas innovaciones en tecnología de belleza. Su
                            compromiso con la excelencia y la calidad la han llevado a fundar una clínica de belleza
                            que no solo embellece, sino que también transforma la vida de quienes la visitan.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card for "Misión" -->
        <h3 class="center-align">Misión</h3>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/lifting1.jpeg' %}" style="width: 100%" alt="Mission">
                    </div>
                    <div class="card-content" style="display: flex; flex-wrap: wrap; align-items: center">
                        <p style="font-size: 1.25rem; text-align: justify">
                            La clínica de belleza de <span style="color: deeppink">Lulú de la Torre</span> tiene como
                            misión ofrecer tratamientos de belleza de alta calidad que no solo potencien la apariencia
                            física, sino que también eleven la autoestima y el bienestar emocional de cada cliente.
                            Nos esforzamos por brindar una atención personalizada, utilizando productos de primera
                            categoría y técnicas avanzadas que realcen la belleza natural, promoviendo un equilibrio
                            integral entre salud y estética.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card for "Visión" -->
        <h3 class="center-align">Visión</h3>
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <div class="card">
                    <div class="card-image">
                        <img src="{% static 'img/misc_1.jpeg' %}" style="width: 100%" alt="Vision">
                    </div>
                    <div class="card-content" style="display: flex; flex-wrap: wrap; align-items: center">
                        <p style="font-size: 1.25rem; text-align: justify">
                            Nuestra visión es ser líderes en el sector de la belleza y el cuidado personal,
                            destacándonos por un servicio excepcional que inspire confianza y fidelidad en
                            nuestros clientes. Aspiramos a establecer una red de centros de belleza reconocidos por
                            su profesionalismo, innovación y enfoque en el cuidado responsable de la piel, ayudando a
                            cada persona a descubrir la mejor versión de sí misma en un ambiente seguro, cálido y lleno
                            de armonía.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
